<div class="form-wrapper ">
  <h1>Sign Up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-item">
      <%= f.label :name %><br />        
      <%= f.text_field :name, autofocus: true, autocomplete: "name",:placeholder =>"ユーザー名" %>
    <div>
    <div class="form-item">
      <%= f.label :email %><br />
      <%= f.email_field :email,  autofocus: true, autocomplete: "email",:placeholder =>"メールアドレス" %>
    <div>
    <div class="form-item">
      <%= f.label :password %><br />
      <%= f.password_field :password,  autofocus: true, autocomplete: "password",:placeholder =>"パスワード" %>
    <div>
    <div class="form-item">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation,  autofocus: true, autocomplete: "password_confirmation",:placeholder =>"パスワード確認" %>
    <div>
    <div class="button-panel">
      <input type="submit" class="button" title="Sign Up" value="Sign Up">
    </div>
    <div class="form-footer">
    <p><a href="/users/sign_in">アカウントをお持ちの方はこちら</a></p>
    </div>
  <% end %>
</div>
