<div class="container">
  <%# @user.each do |user| %>
    <div class="user-profile">
      <div class="image text-center">
        <% if @user.image.attached? %>
          <%= image_tag @user.image %>
        <% else %>
          <%= image_tag "no-image.jpg"%>
        <% end %>
      </div>
      <div class="name text-center">
        <h2><%= @user.name %><h2>
      </div>
      <div class="type text-center">
        <p><%= @user.skin_type %></p>
      </div>
      <div class="type text-center">
        <p><%= @user.profile %></p>
      </div>
    </div>
  <%# end %>
</div>