<% breadcrumb :mypage, @user %>
<%= breadcrumbs separator: " &rsaquo; " %>
<%= render partial: 'user_profile' %>
<div class="col-md-12">
  <%= render partial: 'user_nav'%>
  <%= render partial: 'review_lists' %>
</div>
<%= render "/layouts/footer" %>