<% breadcrumb :review_new%>
<%= breadcrumbs separator: " &rsaquo; " %>  
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with model: @review do |f| %>
        <div class="review-box">
          <div class="review-title">
            <h3>おすすめ商品登録</h3>
          </div>
          <div class="append__category">
            <div class="category">
              <div class="form__label">
                <div class="weight-bold-text lavel__name ">カテゴリー</div>
                <div class="lavel__Required">
                  <%= f.collection_select :category_id, @category_parent, :id, :name,{ include_blank: "選択してください"},class:"serect_field", id:"item_category_id" %>
                </div>
              </div>
            </div>
          </div>
          <div class="review-detail mini">
            <div class="room-icon"><%= f.label :image,"商品画像" %></div>
              <%= f.file_field :image %>
            </div>
            <div class="review-detail">
              <div class="room-icon"><%= f.label :name,"商品名"%></div>
                <%= f.text_field :name,:placeholder => "ブランド名 商品名の順に入力してください。" %>
            </div>
            <div class="review-detail">
              <div class="room-icon"><%= f.label :description,"使用感"%></div>
                <%= f.text_area :description,:placeholder => "例)使ってみての効果やおすすめの使い方・ポイントなど" %>
            </div>
            <div class="review-detail">
              <div class="room-icon"><%= f.label :address,"テクスチャー" %></div>
                <%= f.select :texture, {'しっとり': 'しっとり', 'さらさら': 'さらさら'} ,{ include_blank: "選択してください"},class:"serect_field", id:"item_category_id" %>
            </div>
            <div class="review-detail price">
              <div class="room-icon"><%= f.label :fee,"参考価格" %></div>
                <%= f.text_field :price,:placeholder => "おおよその価格を入力してください" %>
            </div>
            <div class="review-register-action">
              <%= f.submit "登録" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>