<% breadcrumb :review_show, @review %>
<%= breadcrumbs separator: " &rsaquo; " %>  
<section class="mainContent clearfix">
  <div class="container">
    <div class="row product">
      <%= render partial: 'product_show'%>
    </div>
    <% if @comments.present? %>
      <div class="row comment-list">
        <%= render partial: 'comment_show'%>
      </div>
    <% end %>
    <div class="p-3">
      <%= render partial: 'comment_post'%>
    </div>
  </div>
</section>
<%= render '/layouts/footer' %>